<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        GitHub Api
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Aladin|Short+Stack&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body data-ng-app="gitHubAPI" data-ng-controller="gitHubAPIController" data-ng-init="prepareGitHubAPI()">
    <div class="container-fluid bg-success">
        <h1 class="text-light">
            GitHub Profile
        </h1>
    </div>
    <div id="wrapper" class="container-fluid row">
        <div class="col-12 row">
            <div id="profile" class="col-md-6 bg-light">
                <a href="{{userData.html_url}}">
                    <img id="profile-photo" src="{{userData.avatar_url}}" alt="" class="rounded-circle d-block mx-auto"
                        height="250">
                    <h2 class="text-primary">
                        {{userData.name}}
                    </h2>
                </a>
                <h5 class="text-info">
                    Location: {{userData.location}}
                </h5>
                <h5>
                    <a href="{{userData.blog}}" class="text-info">
                        <img id="wordpress-icon" src="./assets/images/wordpress.png" class="d-block mx-auto"
                            alt="WordPress Icon">
                        Visit My Blog
                    </a>
                </h5>
                <h3 class="jumbotron jumbotron-fluid font-italic text-secondary">
                    "{{userData.bio}}"
                </h3>
            </div>
            <div id="additional-information" class="col-md-6">
                <div class="btn-group btn-group-lg bg-dark d-flex justify-content-center">
                    <button class="btn btn-dark font-weight-bolder" data-ng-click="showFollower()">
                        Followers
                        <span class="badge badge-pill badge-primary">
                            {{userData.followers}}
                        </span>
                    </button>
                    <button class="btn btn-dark font-weight-bolder" data-ng-click="showFollowing()">
                        Following
                        <span class="badge badge-pill badge-primary">
                            {{userData.following}}
                        </span>
                    </button>
                    <button class="btn btn-dark font-weight-bolder" data-ng-click="showRepos()">
                        Repos
                        <span class="badge badge-pill badge-primary">
                            {{userData.public_repos}}
                        </span></button>
                </div>
                <div id="followers" class="col-12 bg-light">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" data-ng-repeat="follower in followers">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <a href="{{follower.html_url}}">
                                        <img src="{{follower.avatar_url}}" alt="" class="rounded-circle">
                                    </a>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <a href="{{follower.html_url}}">
                                        <h3>
                                            {{follower.login}}
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="following" class="col-12 bg-light">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" data-ng-repeat="follow in following">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <a href="{{follow.html_url}}">
                                        <img src="{{follow.avatar_url}}" alt="" class="rounded-circle">
                                    </a>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <a href="{{follow.html_url}}">
                                        <h3>
                                            {{follow.login}}
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="repos" class="col-12 bg-light">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" data-ng-repeat="repo in repos">
                            <details>
                                <summary>
                                    <a href="{{repo.html_url}}">
                                        <h5 class="text-success">
                                            {{repo.name}}
                                        </h5>
                                    </a>
                                </summary>
                                <table class="table table-sm table-dark table-hover table-striped">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Description:
                                            </td>
                                            <td>
                                                {{repo.description}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Forks:
                                            </td>
                                            <td>
                                                {{repo.forks_count}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Issues:
                                            </td>
                                            <td>
                                                {{repo.open_issues_count}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Language:
                                            </td>
                                            <td>
                                                {{repo.language}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                License:
                                            </td>
                                            <td>
                                                {{repo.license.name}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Size:
                                            </td>
                                            <td>
                                                {{repo.size}} Byte
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Watchers:
                                            </td>
                                            <td>
                                                {{repo.watchers_count}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </details>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./js/functions.js">
    </script>
</body>

</html>